@import "tailwindcss";

:root {
  --color-primary: #1f3864;
}

@theme {
  --color-primary: #1f3864;
}

@layer components {
  .a4 {
    @apply w-[210mm] h-[297mm] p-10 bg-white shadow-2xl mx-auto text-slate-800 box-border;
  }
  .aside {
    @apply flex flex-col gap-1 px-2 py-1;
  }
  .phone span:not(:first-child)::before {
    content: " ";
    margin: 0 0.05rem;
  }
  .icon {
    @apply w-7 select-none;
  }
  .h3 {
    @apply text-2xl font-bold text-primary border-b border-gray-200 mb-2 p-1;
  }
  .section {
    @apply p-2 flex flex-col gap-2;
  }
  .violet-tag {
    @apply px-2 py-1 text-xs rounded bg-violet-100 text-violet-800 hover:scale-110 transition cursor-default;
  }
  .main-list {
    @apply list-disc list-inside space-y-1 text-sm leading-relaxed;
  }
  .tech-list {
    @apply text-sm italic text-gray-600;
  }
  .paragraph {
    @apply text-[14px] leading-relaxed;
    text-indent: 1.5rem;
  }
  .project-name {
    @apply flex justify-between items-center px-1;
  }
}
